{% extends 'base.html' %}

{% block content %}
<br/>
<h1> O Livro dos Espíritos - Allan Kardec </h1><br/><br/>

{%for qna in qna_list %}
    {% if qna.id == qrandom %}
        <div class="card">
          <div class="card-header">
            <strong> Pergunta </strong>
          </div>
          <div class="card-body">
            {{ qna.question }}
          </div>
        </div><br/>
        <div class="card">
          <div class="card-header">
            <strong> Resposta </strong>
          </div>
          <div class="card-body">
            {{ qna.answer }}
          </div>
        </div><br/>
        <div class="card">
          <div class="card-header">
            <strong> Anotações de Kardec </strong>
          </div>
          <div class="card-body">
            {{ qna.note }}
          </div>
        </div>
    {% endif %}
{% endfor %}

{% endblock %}
